body {
    background-color: #1a181d;
    /* background-image: url(clockbg.png) center ;
    background-position: center; */

    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgb(163, 160, 160);
    padding: 60px;
    border-radius: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.clock {
    margin: 10px 0;
}

.time {
    font-size: 2em;
    font-weight: bold;
}

.date, .day {
    font-size: 1.2em;
    margin-top: 5px;
}
